.culture {
  max-width: 1000px;
  margin: 3rem auto;
  text-align: center;
  color: #2c2a29;
}

.culture__title {
  font-family: "timenewroman", serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.culture__gallery {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.culture__image--wrapper {
  width: 300px;
  border-radius: 1rem;
  overflow: hidden;
}

.culture__image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem;
}

.culture__description {
  max-width: 50rem;
  margin: 0 auto;
  font-size: 0.9rem;
  color: #444;
}

.culture__paragraph {
  margin-bottom: 1.2rem;
}

@media (max-width: 768px) {
  .culture__gallery {
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    gap: 1rem;
    justify-content: flex-start;
  }

  .culture__image--wrapper {
    max-width: 48%;
    flex: 0 0 auto;
  }

  .culture__description {
    max-width: 95%;
    padding: 0 1rem;
    text-align: justify;
  }

  .culture__paragraph {
    font-size: 1rem;
  }
}
